<!doctype html>
<html lang="ru">
<head>
  <title>Главная</title>
  <meta charset="UTF-8">

  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

</head>

<body class="body">
  <div class="body__wrapper">
    <%= require('html-loader!../../partials/header.html') %>

    <main class="body__main main">

      <div class="box">
        <div class="box__container">
          <div class="box__row">
            <div class="box__col box__col--1">
              <div class="box__table table">
                <div class="table__wrapper">
                  <div class="table__col">
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem ipsum dolor</div>
                    <div class="table__data">Lorem ipsum</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box__col box__col--2">
              <div class="box__table table" data-draggable>
                <div class="table__wrapper">
                  <div class="table__col" data-sticky-wrapper>
                    <div class="table__data table__data--heading" data-sticky-content>Lorem</div>
                    <div class="table__data">Lorem ipsum dolor</div>
                    <div class="table__data">Lorem ipsum</div>
                  </div>
                  <div class="table__col">
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem</div>
                  </div>
                  <div class="table__col" data-sticky-wrapper>
                    <div class="table__data table__data--heading" data-sticky-content>Lorem ipsum dolor</div>
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem ipsum dolor sit</div>
                  </div>
                  <div class="table__col">
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem ipsum dolor</div>
                    <div class="table__data">Lorem ipsum</div>
                  </div>
                  <div class="table__col" data-sticky-wrapper>
                    <div class="table__data table__data--heading" data-sticky-content>Lorem</div>
                    <div class="table__data">Lorem ipsum dolor</div>
                    <div class="table__data">Lorem ipsum</div>
                  </div>
                  <div class="table__col">
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem</div>
                  </div>
                  <div class="table__col" data-sticky-wrapper>
                    <div class="table__data table__data--heading" data-sticky-content>Lorem ipsum dolor</div>
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem ipsum dolor sit</div>
                  </div>
                  <div class="table__col">
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem ipsum dolor</div>
                    <div class="table__data">Lorem ipsum</div>
                  </div>
                  <div class="table__col" data-sticky-wrapper>
                    <div class="table__data table__data--heading" data-sticky-content>Lorem</div>
                    <div class="table__data">Lorem ipsum dolor</div>
                    <div class="table__data">Lorem ipsum</div>
                  </div>
                  <div class="table__col">
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem</div>
                  </div>
                  <div class="table__col" data-sticky-wrapper>
                    <div class="table__data table__data--heading" data-sticky-content>Lorem ipsum dolor</div>
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem ipsum dolor sit</div>
                  </div>
                  <div class="table__col">
                    <div class="table__data">Lorem</div>
                    <div class="table__data">Lorem ipsum dolor</div>
                    <div class="table__data">Lorem ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <%= require('html-loader!../../partials/footer.html') %>
  </div>
</body>

</html>
